body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #ddd;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Poppins", "sans-serif";
}

.App {
  margin-bottom: 3rem;
}

.content {
  padding-right: 1rem;
}

.sidebar {
  background-color: #000;
}
.traits-area {
  overflow-y: auto;
  max-height: 100vh;
}

.searchbar {
  background-color: #000;
  margin-top: 2rem;
}

.main-area {
  background-color: #000;
  margin-top: 2rem;
}

.main-area-header {
  font-size: 1.25rem;
  font-weight: 600;
}

.nft-image-area {
  position: relative;
}

.nft-card {
  background-color: #333;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 2.4rem;
}

.nft-image {
  height: auto;
  width: 100%;
}

.nft-info {
  /* top right bottom left */
  padding: 10px 5px 10px 7px;
}

.nft-image-name {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  display: inline;
  padding: 5px 5px;
}

.nft-image-description {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

/* ---- LIKE SECTION ---- */
.nft-like-area {
  position: absolute;
  bottom: 0;
  right: 0;
}

.like-icon {
  padding: 10px 5px 10px 7px;
  font-size: 3rem;
  color: #ddd;
}

.like-icon:hover {
  color: #eb2693;
}

.like-icon.faved {
  color: #eb2693;
}

.like-icon.notfaved {
  color: #ddd;
}

/* ---- SEARCH FIELD ---- */
.search-input {
  background: transparent;
  color: #ddd;
  border: 1px solid #7099cd;
}

.search-input:focus {
  border: 1px solid #7099cd;
  background-color: transparent;
  color: #ddd;
}

input[type="date"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="search-md"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #7099cd;
  box-shadow: none;
}

.btn-outline-primary {
  color: #7099cd;
  border-color: #7099cd;
}

.search-button:hover,
.search-button:active {
  color: #ddd;
  background-color: #7099cd;
  border-color: #7099cd;
}

/* ---- SIDEBAR FIELD ---- */
.thelogo {
  height: 14rem;
  width: auto;
  margin-top: -3.2rem;
  margin-left: 5px;
}

/* ---- ACCORDION ---- */

.accordion-item {
  background-color: #000;
}

.accordion-button {
  background-color: #000;
  color: #ddd;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dddddd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
  background-color: #000;
  color: #ddd;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23dddddd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
  background-color: #000;
}

.accordion-button:focus {
  border-color: #ddd;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

/* ----- Accordion Inside ------ */

.accordion-body {
  padding-left: 20px;
}

.form-check-label {
  font-size: 14px;
}

.form-check-input:checked {
  background-color: #eb2693;
  border-color: #eb2693;
}

.form-check-input:focus {
  border-color: #000;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.nft-card:hover {
  transform: translateY(-5px);
  box-shadow: 2px 10px 20px 2px rgba(113, 203, 255, 0.7);
}

body.modal-open .modal {
  display: flex !important;
  height: 100%;
}

body.modal-open .modal .modal-dialog {
  margin: auto;
}

.btn:focus {
  box-shadow: none;
}

.filter-item {
  background-color: #333;
  font-size: 15px !important;
  color: #ddd;
  font-size: 1rem;
  padding: 10px 5px 10px 7px;
  margin-top: 10px;
  border-radius: 25px;
  padding-right: 15px;
  padding-left: 15px;
}

.filter-text {
  margin-left: 5px;
}

.filter-close-button {
  transform: rotate(45deg);
  font-size: 1.5rem;
  cursor: pointer;
}

.nothing-to-show {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  align-content: center;
  height: 100vh;
}

.search-icon {
  font-size: 25px;
  margin-top: 5px;
  margin-right: 15px;
  color: #7099cd;
}

.pre-loader {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99;
}

.at-first {
  font-weight: 600;
  color: #ddd;
}

.at-last {
  font-weight: 600;
  color: red;
}

.thelogoX {
  height: 14rem;
  width: auto;
  margin-top: -3.2rem;
}

/*.padding-0 {
  padding-right: 0;
  padding-left: 0;
}*/

.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
}

.modal-card {
  opacity: 100%;
  height: 100vh;
  width: 100%;
}

.modal-nft-card {
  background-color: #333;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 2.4rem;
}

.modal-nft-image {
  height: auto;
  width: 100%;
}

.modal-nft-info {
  /* top right bottom left */
  padding: 10px 5px 10px 7px;
}

.modal-nft-image-name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.modal-nft-image-description {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

/* ---- LIKE SECTION ---- */
.modal-nft-like-area {
  background-color: #222;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.liked-images-link {
  margin-bottom: 2rem;
}

.navigation-button {
  text-decoration: none;
  margin: 10px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    #f5189e 0%,
    #6167c4 51%,
    #f5189e 100%
  );
}
.navigation-button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
  background-position: right center;
  color: #fff;
}

/* -- LOAD MORE BUTTON -- */

.load-area {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.load-more {
  text-decoration: none;
  margin: 10px;
  padding: 15px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;
  background-image: linear-gradient(
    to right,
    #f5189e 0%,
    #6167c4 51%,
    #f5189e 100%
  );
}
.load-more:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 8px 10px 12px;
  background-position: right center;
  color: #fff;
}

.trait-span:not(:first-child)::before {
  content: ", ";
}

.trait-name {
  font-weight: 500;
  color: #eee;
}

.trait-attr {
  font-weight: 400;
  font-size: 0.8rem !important;
}

.list-icon {
  padding: 10px 5px 10px 7px;
  font-size: 3rem;
  color: #ddd;
}

.list-icon:hover {
  color: #eb2693;
}

.list-icon.showing {
  color: #eb2693;
}

.list-icon.not-showing {
  color: #ddd;
}

.list-buttons {
  margin-left: -21px;
  margin-top: 1rem;
}

/* -- NFT LIST CARD -- */

/*.nft-list-card {
  height: 200px;
  background-color: #333;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}

.nft-list-image-area {
  position: relative;
}

.nft-list-image {
  height: 200px;
  width: auto;
}

.each-attribute-list {
  margin-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}*/

.nft-list-image {
  height: auto;
  width: 100%;
}

.nft-list-area-small {
  background-color: #333;
  border-bottom-right-radius: 7%;
  border-top-right-radius: 7%;
}

.nft-list-image-area {
  margin-left: -12px;
}

@media screen and (max-width: 568px) {
  .main-area {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

/* -- ust */
@media screen and (min-width: 567px) {
  .main-area {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}
